venv/
env/
.venv/
dist/
.pytest_cache/
__pycache__/
reports/
!reports/.gitkeep
*.egg-info/
.DS_Store
.idea/
.vscode/
*.log
build/
*.egg
htmlcov/
.coverage
.coverage.*
.cache
Thumbs.db
*.pyc
.env
config/config.json